#intro p {
  font-size: 1.5em;
  line-height: 0.25;
  font-weight: 400;
}

#intro h2 {
  font-size: 2.5em;
}

#map {
  text-align: center;
}

@media (max-width: 576px) {
  #map {
  width: 90vw;
  }
}
